*~
*#*#
ac-comphist.dat
.emacs.d/semanticdb/*
.emacs.d/image-dired/*
.emacs.d/tramp
.emacs.d/session*
.emacs.d/auto-save-list/*
.emacs.d/eshell/*
/.emacs.d/url/*
.emacs.d/elpa/archives/
.emacs.d/semanticdb
