[submodule ".emacs.d/external/undo-tree"]
	path = .emacs.d/external/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule ".emacs.d/external/page-break-lines"]
	path = .emacs.d/external/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule ".emacs.d/external/multiple-cursors.el"]
	path = .emacs.d/external/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
