[submodule ".emacs.d/multiple-cursors"]
	path = .emacs.d/multiple-cursors
	url = git://github.com/emacsmirror/multiple-cursors.git
[submodule ".emacs.d/undo-tree"]
	path = .emacs.d/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule ".emacs.d/smarttabs"]
	path = .emacs.d/smarttabs
	url = git://github.com/jcsalomon/smarttabs.git

